


body {
    background-color: rgb(44, 44, 44);
    color: rgb(211, 211, 211);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
.content {
    max-width: 800px;
    width: 100%;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(12, 13, 29);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(22, 12, 63, 0.2);
    text-align: center;
}
.Mission{
    width: 100%;
    margin: 25px auto;
    text-align: left;
    width: 80%;  
    outline: 10px;  
}
.DropOffLocation{
    color: rgb(201, 201, 201);
    text-align: left;
    margin: 30px auto;
    width: 100%;
    text-indent: 10px;
}
.PickupLocation{
    color: rgb(209, 209, 209);
    text-indent: 10px;
}
.Cargo{
    color: rgb(150, 150, 150);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    text-indent: 30px;
}
#tab-content{
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  width: 80%;  
  outline: 30px; 
}

.togglebtn{
    text-align: left;
    color: #006405;
    width: 100%;
}
.close {
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    color: #ff0000;
    cursor: pointer;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    left: 15px;
    content: '';
    height: 33px;
    width: 2px;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
.scutext{
    font-size: x-small;
}
#sortable-list {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  list-style: none;
  padding: 0;
}

.sortable-item {
  padding: 10px;
  margin: 5px;
  background: lightblue;
  cursor: grab;
  text-align: center;
  border-radius: 5px;
}

#PickupItem{
  padding-left:125px;
  color:  yellow;
  text-align: left;
}
#DeliverItem{
  padding-left:125px;
  color: green;
  text-align: left;  
}
#CargoItem{
  width: 30%;
  text-align: left;
}
#CargoItemSCU{
  width: 20%;
  text-align: right;
  padding-right: 8px;
}
#locationName{
  font-size: 22px;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}
.Route{
  width: 100%;
  margin: 25px;
  text-align: center;
  width: 80%;  
  outline: 30px;  
}
.MissionDropLocations{
  width: 100%;
  margin: 10px;
  text-align: left;
  width: 80%;  
  outline: 10px;  
}
#reward{
  text-align: left;
}
#rewards{
  width: 100%;
}
#reward_uec{
  text-align: right;
}
#reward_scu{
  text-align: left;
}
.add-Mission-button { 
  background-color:royalblue;
  border: none;
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 12px;
  }
  .add-Mission-button:hover {
    background-color: rgb(118, 142, 212);
  }
  #tab-Button {
    background-color: #616161;
    border: 1px solid #444;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }

  #tab-Button:hover {
    background-color: #353535;
  }