{% extends "base.html" %}

{% block head %} <title>SC Hauling Helper2</title> {% endblock head %}

  {% block body %}
  <div class="content">
    <table class="Header">
      <tr>
      <a href="/toggle/" class="togglebtn">Toggle View<a/>
      </tr>
      <tr>
        <h1>SC Hauling Helper </h1>
      </tr>
      <tr>
        <form action="/add/", method="post"><input type="submit" value="Add Mission" id="btn_add"/></form>
      </tr>
      </table>
  {% if sortedMissionList.SortedMissions | length < 1 %}
  <h1>Press Button do Add Mission</h1>
  {% else %}
  {% for sortedMission in sortedMissionList.SortedMissions %}
  <div class="Mission">
  <table>
      <tr>
        <th class="DropOffLocation">{{ sortedMission.dropOfLocation }}</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      {% for cargo in sortedMission.cargo %}
      <tr class="Cargo">
        <td>- {{ cargo[0] }} SCU   {{ cargo[1] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}
  {% endif %}
  </div>

{% endblock body %}