{% for location in missionDatabase.locationDatabase.locationList %}
<table class="Route">
    <div>
      {% if location["order"] == 1 %}
      <tr>
        <td id="PickupItem" colspan="2">Pickup</td>
        <td id="DeliverItem" colspan="2">Deliver</td>
      </tr> 
    {% endif %}
      <input type='hidden' name='item' value=0/>
      <tr class="PickupLocation" sort-id={{ location["order"] }}>
        <th id="locationName" colspan="4">{{ location["name"] }}</th>
      </tr>
    {% for drop in missionDatabase.locationDatabase.GetCargoTab3(location["name"]) %}
    <tr>
    <td id="CargoItemSCU">{{ drop[0] }}</td>
    <td id="CargoItem">{{ drop[1] }}</td>
    <td id="CargoItemSCU">{{ drop[2] }}</td>
    <td id="CargoItem">{{ drop[3] }}</td>
    <!-- to do toggle pickedup/deliverd -->
    <!-- <td id="CargoItem" {% if bDone %}style="text-decoration: line-through;"{% endif %}>{{ drop[1] }}</td> -->
    </tr>
    {% endfor %}  
    </div>
</table>
{% endfor %}