<style>
.float-right {
    float: right;
}
</style>
{% for location in missionDatabase.locationDatabase.locationList %}
<table class="Route">
    <div>
      <input type='hidden' name='item' value=0/>
      <tr class="PickupLocation" sort-id={{ location["order"] }}>
        <th id="locationName" colspan="4" {% if location["done"] %}style="text-decoration: line-through;"{% endif %}>
            {{ location["name"] }}
            <span class="float-right">
                <input type="checkbox" hx-post="/toggle/{{ location["name"] }}" {% if location["done"] %}checked{% endif %}>
            </span>
        </th>
      </tr>
    {% for drop in missionDatabase.locationDatabase.GetCargoTab3(location["name"]) %}
      {% if not location["done"] %}
        <tr>
        <td id="CargoItemSCU">{{ drop[0] }}</td>
        <td id="CargoItem">{{ drop[1] }}</td>
        <td id="CargoItemSCU">{{ drop[2] }}</td>
        <td id="CargoItem">{{ drop[3] }}</td>
        <!-- to do toggle pickedup/deliverd -->
        <!-- <td id="CargoItem" {% if not location["done"] %}style="text-decoration: line-through;"{% endif %}>{{ drop[1] }}</td> -->
        </tr>
      {% endif %}
    {% endfor %}  
    </div>
</table>
{% endfor %}