<div id="content" class="content">
  <table class="Rewards" id="rewards">
  <tr>
    <td id="reward_scu">SCU: {{ missionDatabase.GetCargoSCU() }}</td>
    <td id="reward_uec">aUEC: {{ missionDatabase.GetAuec() }}</td>
  </tr>
  </table>
  <table class="Header">
    <tr>
      <button class="add-Mission-button" hx-post="/add" hx-trigger="click">Add Mission</button>
    </tr>
    </table>
{% if missionDatabase.mainMissions | length < 1 %}
<h1>No Missions</h1>
{% else %}
{% for mainMissions in missionDatabase.mainMissions %}
<table class="Mission">
    {% for subMissions in mainMissions.subMissions %}
    <tr class="PickupLocation">
      <th>({{ mainMissions.GetID() }}) {{ subMissions.GetMissionText() }} <a hx-post="/delete/{{ mainMissions.GetID() }}" hx-target="#content" hx-swap="outerHTML" class="close">X</a></th>
    </tr>
    {% for dropLocations in subMissions.dropLocations %}
    <tr class="Cargo">
      <td>- Deliver {{ dropLocations['SCU'] }}<span class="scutext">SCU</span> to {{ dropLocations['DropLocation'] }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
{% endfor %}
{% endif %}
</div>
