  <div class="content">
    <table class="Header">
      <tr>
        <h1>SC Hauling Helper </h1>
      </tr>
      <tr>
      </tr>
      </table>
  {% if sortedMissionList.sortedMissions | length < 1 %}
  <h1>Press Button do Add Mission</h1>
  {% else %}
  {% for sortedMission in sortedMissionList.sortedMissions %}
  <div class="MissionDropLocations">
  <table>
      <tr>
        <th class="dropOffLocation">{{ sortedMission.dropOfLocation }}</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      {% for cargo in sortedMission.cargo %}
      <tr class="Cargo">
        <td>- {{ cargo[0] }}<span class="scutext">SCU</span> {{ cargo[1] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}
  {% endif %}
  </div>