  <div class="content">
    <table class="Rewards" id="rewards">
      <tr>
        <td id="reward_scu">SCU: {{ missionDatabase.GetCargoSCU() }}</td>
        <td id="reward_uec">aUEC: {{ missionDatabase.GetAuec() }}</td>
      </tr>
    </table>
  {% if missionDatabase.sortedMissionManager.sortedMissions | length < 1 %}
  <h1>No Missions</h1>
  {% else %}
  {% for sortedMission in missionDatabase.sortedMissionManager.sortedMissions %}
  <div class="MissionDropLocations">
  <table>
      <tr>
        <th class="dropOffLocation">{{ sortedMission.dropOfLocation }}</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      {% for cargo in sortedMission.cargo %}
      <tr class="Cargo">
        <td>- {{ cargo[0] }}<span class="scutext">SCU</span> {{ cargo[1] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}
  {% endif %}
  </div>