<div class="content">
  <table class="Rewards" id="rewards">
    <tr>
      <td id="reward_scu">SCU: {{ missionDatabase.GetCargoSCU() }}</td>
      <td id="reward_uec">aUEC: {{ missionDatabase.GetAuec() }}</td>
    </tr>
  </table>
  {% if missionDatabase.mainMissions | length < 1 %}
  <h1>No Missions</h1>
  {% else %}
  <div hx-get="/route" hx-target="#sortable-list" hx-trigger="load">
    <form id="sortable-list" hx-post="/update-order" hx-trigger="end">
      <div class="htmx-indicator">Updating...</div>
      <!-- loading route.html -->
    </form>
    <script>
      function initializeSortable() {
          let sortable = new Sortable(document.getElementById('sortable-list'), {
              animation: 150,
              ghostClass: 'blue-background-class',
              onEnd: function () {
                  let order = Array.from(document.querySelectorAll('.PickupLocation'))
                                  .map(item => item.getAttribute('sort-id'));
                  fetch('/update-order', {
                      method: 'POST',
                      headers: {
                          'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({ order: order })
                  })
                  .then(response => response.text())
                  .then(html => {
                      document.getElementById("sortable-list").innerHTML = html;
                  })
                  .catch(error => console.error('Error:', error));
              }
          });
      }
  
      document.addEventListener('DOMContentLoaded', initializeSortable);
      document.addEventListener('htmx:afterSwap', initializeSortable);
    </script>
  </div>
  {% endif %}
  </div>
