<div class="content">
  <script>
    htmx.onLoad(function(content) {
      var sortables = content.querySelectorAll("#sortable-list");
      for (var i = 0; i < sortables.length; i++) {
        var sortable = sortables[i];
        var sortableInstance = new Sortable(sortable, {
            animation: 150,
            ghostClass: 'blue-background-class',
            onEnd: function (evt) {
              let order = Array.from(document.querySelectorAll('.PickupLocation'))
                                  .map(item => item.getAttribute('sort-id'));
                  fetch('/update-order', {
                      method: 'POST',
                      headers: {
                          'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({ order: order })
                  })
                  .then(response => response.text());
            }
        });
      }
  })
  </script>
  <table class="Rewards" id="rewards">
    <tr>
      <td id="reward_scu">SCU: {{ missionDatabase.GetCargoSCU() }}</td>
      <td id="reward_uec">aUEC: {{ missionDatabase.GetAuec() }}</td>
    </tr>
  </table>
  {% if missionDatabase.mainMissions | length < 1 %}
  <h1>No Missions</h1>
  {% else %}
  <table id="CargoTable">
  <tr>
    <td id="PickupItem">Pickup</td>
    <td id="DeliverItem">Deliver</td>
  </tr> 
</table>
  <div hx-get="/route" hx-target="#sortable-list" hx-trigger="end delay:100ms,load">
    <form id="sortable-list" hx-trigger="end">
      <div class="htmx-indicator">Updating...</div>
      <!-- loading route.html -->
    </form>
  </div>
  {% endif %}
</div>
